/* дополнительный отступ слева */
.hf_extra_left {
	margin-left: 1em;
	}

/* скрытые комментарии */
ul.hentry.hf_collapsed {
	display: none;
	}
	
.msg-meta.hf_author_reply {
	background-color: #eeffe1;
	}
