/* about */
#about .hf {
	margin-left: -5px;
	margin-top: 10px;
	}

	#about .hf a {
		display: inline;
		}

#about .hf_config {
	display: block;
	margin-left: 11px;
	cursor: pointer;
	}

/* окно настроек */
#hf_config {
	position: fixed;
	left: 25%;
	top: 15%;
	width: 50%;
	height: auto;
	background-color: #f0f0e7;
	border: 1px solid #999;
	-webkit-border-radius: 5px;
	z-index: 50;
	opacity: .98;
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .50);
	}

	#hf_config h1 {
		font-size: 2em;
		padding: .8em 0 .2em .6em;
		}

	#hf_config input[type=button] {
		float: right;
		margin: .5em;
		}

	#hf_config ul {
		margin: 1em;
		}

		#hf_config ul li {
			margin-bottom: .5em;
			}
			
	#hf_config span {
		float: left;
		color: grey;
		font-size: 8pt;
		margin: .7em 0px 0px 1.5em;
		}
