/* about */
#about .hf {
	margin-left: -5px;
	margin-top: 10px;
	}

#about .hf_config {
	display: block;
	margin-left: 11px;
	cursor: pointer;
	}

/* окно настроек */
#hf_config {
	position: fixed;
	left: 20%;
	top: 20%;
	width: 60%;
	height: 60%;
	background: white;
	border: 1px solid gray;
	border-radius: 5px;
	z-index: 50;
	}

#hf_config .hf_title {
	background: silver;
	border-bottom: 1px solid gray;
	color: black;
	padding: 5px 0px;
	text-align: center;
	text-shadow: white 1px 1px 1px;
	width: 100%;
	}
