/* визуальный редактор
.hf_editor {
	border: 1px solid black;
	min-height: 5em;
	padding: 2px;
	width: 100%;
	}
	
	.hf_editor ul,
	.hf_editor ol,
	.hf_editor li {
		list-style: disc;
		padding: auto !important;
		margin: auto !important;
		}
*/

/* убираем "можно использовать html" */
#js-field-holder-with-help .comment-help {
	display: none;
	}
	
.hf_etoolbar {
	background-color: #eaecea;
	margin-bottom: -2px;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	border-top: 1px solid silver;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: 190px;
	padding: 2px;
	}
	
	.hf_etoolbar.hf_mailer {
		margin-bottom: -5px;
		margin-top: 5px;
		}
	
	.hf_etoolbar li {
		display: inline;
		margin-right: 3px;
		opacity: .8;
		}

		.hf_etoolbar li:hover {
			opacity: 1;
			}			

		.hf_etoolbar li.hf_space {
			margin-right: 15px;
			}
		
		.hf_etoolbar li a {
			cursor: pointer;
			}

		.hf_etoolbar img {
			border: 1px solid transparent;
			width: 20px;
			height: 20px;
			}

			.hf_etoolbar img:hover,
			.hf_etoolbar img:active {
				border-radius: 3px;
				}

			.hf_etoolbar img:hover {
				border-right: 1px solid silver;
				border-bottom: 1px solid silver;
				border-left: 1px solid white;
				border-top: 1px solid white;
				}

			.hf_etoolbar img:active {
				border-right: 1px solid white;
				border-bottom: 1px solid white;
				border-left: 1px solid silver;
				border-top: 1px solid silver;
				}
