/* поднимаем логотип */
.header .logo {
	margin-top: -50px !important;
	}

/* убираем сайдбар */
#sidebar {
	display: none;
	}

/* расширяем контент */
#viva-la-w3c, .profile-header {
	width: auto !important;
	}

#main-content {
	width: 95% !important;
	}

/* нет больше минусам */
.vote_minus {
	display: none !important;
	}

.entry-info-wrap .published,
.entry-info-wrap .informative {
	margin-left: -18px !important;
	}

/* скрытые комментарии */
ul.hentry.collapsed {
	display: none;
	}

	li.comment_holder .expander {
		margin-left: 1em;
		}

	li.comment_holder .unreg .expander {
		margin-left: 0px;
		}
