/* скрываем flash, чуть позже в js 
 * мы покажем то, что не реклама */
object {
	display: none;
	}

a[target=_top] {
	display: none;
	}
	
iframe {
	display: none;
	}	

/* поднимаем логотип */
.header .logo {
	margin-top: -50px !important;
	}

#wrapper.hf_wo_sidebar .profile-header {
	width: 90% !important;
	}

#wrapper.hf_wo_sidebar #main-content {
	width: 95% !important;
	}
	
#sidebar {
	display: none;
	}
	
	#sidebar .banner {
		height: auto;
		margin-bottom: 0px;
		}

#sidebar.hf_show {
	display: block;
	}
		
/* нет больше минусам */
.vote_minus {
	display: none !important;
	}

.entry-info-wrap .published,
.entry-info-wrap .informative {
	margin-left: -18px !important;
	}
	
.hf_extra_left {
	margin-left: 1em;
	}

/* about */
#about .hf {
	margin-left: -5px;
	margin-top: 10px;
	}
