/* скрываем flash, чуть позже в js 
 * мы покажем то, что не реклама */
object {
	display: none;
	}

a[target=_top] {
	display: none;
	}
	
iframe {
	display: none;
	}	

/* поднимаем логотип */
.header .logo {
	margin-top: -50px !important;
	}

#sidebar .banner {
	height: auto;
	margin-bottom: 0px;
	}

/* нет больше минусам */
.vote_minus {
	display: none !important;
	}

.entry-info-wrap .published,
.entry-info-wrap .informative {
	margin-left: -18px !important;
	}
	
.hf_extra_left {
	margin-left: 1em;
	}

/* закругленные углы */
.entry-info {
	border-radius: 5px;
	}
