/* -------------------------
 * режим печати 
 * ------------------------- */

/* заголовок              */ body.hf_printmode .header,
/* номера страниц         */ body.hf_printmode .page-navigation,
/* реклама Яндекса        */ body.hf_printmode .yandex-direct,
/* заголовок топика?      */ body.hf_printmode #viva-la-w3c,
/* сайдбар с обновлениями */ body.hf_printmode #xsidebar,
/* список тегов топика    */ body.hf_printmode ul.tags, 
/* ???                    */ body.hf_printmode .entry-info,
/* комментарии            */ body.hf_printmode #comments,
/* футер                  */ body.hf_printmode #footer,
/* ???                    */ body.hf_printmode .profile-header,
/* кнопки голосования     */ body.hf_printmode .poll-item input[type=button] {
	display: none;
	}

body.hf_printmode h2.entry-title,
body.hf_printmode h2.single-entry-title {
	padding-left: 0px !important;
	padding-right: 0px !important;
	}

body.hf_printmode #wrapper {
	width: 100% !important;
	}

body.hf_printmode .hentry {
	margin-bottom: 1em !important;
	padding-left: 1em !important;
	}

	body.hf_printmode .hentry .content {
		margin-bottom: 0px !important;
		margin-left: 0px !important;
		}
		
/* -------------------------
 * печать с комментариями 
 * ------------------------- */
body.hf_printmode.hf_printmode_comments #comments {
	display: block;
	padding-left: 1em;
	}
	
	body.hf_printmode.hf_printmode_comments #comments .comments-header {
		background: transparent;
		color: black;
		padding-left: 0px;
		}
		
body.hf_printmode.hf_printmode_comments #comments .comments-header a,
body.hf_printmode.hf_printmode_comments #comments li.comment_holder .entry-content p.reply,
body.hf_printmode.hf_printmode_comments #comments li.comment_holder .msg-meta .bookmark,
body.hf_printmode.hf_printmode_comments #comments li.comment_holder .msg-meta .to-favs,
body.hf_printmode.hf_printmode_comments #comments li.comment_holder .msg-meta ul.vote .buttons,
body.hf_printmode.hf_printmode_comments #comments .add-comment {
	display: none;
	}
	
body.hf_printmode.hf_printmode_comments #comments ul.hentry.hf_collapsed {
	display: block;
	}

/* -------------------------
 * вспомогательное
 * ------------------------- */

/* значок */
.entry-info .hf_print {
	width: 12px;
	}

	/* спасибо Turbomilk за iconza.com */
	.entry-info .hf_print a {
		background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABt0lEQVQ4jZWTS0sCUQCFB9z1B/pJ/Y+ijdBzUstoEfagNHpZYZRBRRZFNWq2SRFbaCG4UHcamGEWmpM6bk9zLhRok9CFA8M933fncueOJHUMi9WWWttwwyjsOvlfY2FxCaXSK97e31GtVqGqn2g0GtA0Dez+FGWLLbW6vgn79IyAW62WCJ+bzSY+63XRkSH7a4FZxzyulACGR8ZQ1+FarYZKpYJyuYzn4gvyT0+iI0O2TY5EIr3yhBVHxz70DwwinkggFrvHXTiMm9AtLq+uceI7FR0ZsnR+ZH8gUNz3HuD84hLbO7tdQ2Zv3ws6YpFrRSnG4wmxXVVVxRu6hQxZOnQl3+kZcrkcCoWCfvolHB4eQ5YthmFHhiwduhK3ns1mkU6nkclkRJHP5w3DjgxZOnQl99Y2ksmkfmixf4UOXcnpciEajSIYDEJRFJjN5q4hQ5YOXWnZ6ap59a2EQiGRAf1TJR4eDcPum6NDV/L7/X0Ox5w6ZZ8GMzQ8iurHB/T5tnCO3TdHh27bhfJ4POu2Sbu4wp0LcI6dzvj+/B9MJlMPr6mmtQzDjkzXv3FsXE45V1ZhFHad/BdNsHEK05f/ZAAAAABJRU5ErkJggg==) no-repeat;
		display: inline-block;
		height: 16px;
		width: 16px;
		cursor: pointer;
		}
		
/* контролы */
.hf_print a a.hf_print_comments {
	display: none;
	width: auto;
	}
	
	.hf_print:hover {
		width: auto;
		/* иначе в sandbox без вложенной ссылки с комментариями будет плохо */
		min-width: 12px;
		}
		
	body.sandbox .hf_print:hover {
		/* иначе в sandbox без вложенной ссылки с комментариями будет плохо */
		min-width: 16px;
		padding-right: 1px;	
		}
		
		.hf_print:hover a {
			width: 100%;
			}
			
			.hf_print:hover a a.hf_print_comments {
				background: transparent;
				margin-left: 24px;
				display: inline-block;
				font-weight: normal;
				}
